In [133]:
import numpy as np
import pandas as pd

In [134]:
pwd

'C:\\Users\\ABC'

In [135]:
df = pd.read_csv('C:\\Users\\ABC\\6. Datasets\\rentalhour.csv')
df.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [136]:
df.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [137]:
df.dropna(inplace=True)
df.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [138]:
df.drop(['dteday'], axis=1, inplace=True)
df.head()

,instant,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [139]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [140]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.3)

In [141]:
from sklearn.tree import DecisionTreeClassifier

In [142]:
cls = DecisionTreeClassifier()
cls

DecisionTreeClassifier()

In [143]:
cls.fit(x_train, y_train)

DecisionTreeClassifier()

In [144]:
cls.score(x_train, y_train)

1.0

In [145]:
a = cls.predict(x_test)

In [146]:
a

array([178, 218, 401, ..., 651, 175, 136], dtype=int64)

In [147]:
x_test['predict'] = a
x_test

,instant,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,predict
6847,6848,4,0,10,21,0,1,1,1,0.50,0.4848,0.77,0.1045,36,141,178
8557,8558,1,0,12,8,0,3,1,1,0.32,0.2879,0.57,0.3582,11,206,218
6029,6030,3,0,9,19,0,2,1,1,0.68,0.6364,0.69,0.1642,55,341,401
16935,16936,4,1,12,10,0,4,1,1,0.32,0.3030,0.45,0.2836,28,139,172
8848,8849,1,1,1,12,0,1,1,2,0.26,0.2727,0.56,0.1045,10,93,103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10326,10327,1,1,3,9,0,0,0,1,0.26,0.2576,0.60,0.2239,20,70,88
6718,6719,4,0,10,12,0,3,1,3,0.54,0.5152,0.88,0.3284,9,53,63
11167,11168,2,1,4,12,0,0,0,1,0.64,0.6212,0.44,0.2836,275,360,651
3880,3881,2,0,6,14,0,3,1,1,0.74,0.6515,0.28,0.0000,50,128,175
11617,11618,2,1,5,6,0,5,1,1,0.54,0.5152,0.94,0.1045,8,127,136

In [148]:
x_test.head(50)

,instant,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,predict
6847,6848,4,0,10,21,0,1,1,1,0.50,0.4848,0.77,0.1045,36,141,178
8557,8558,1,0,12,8,0,3,1,1,0.32,0.2879,0.57,0.3582,11,206,218
6029,6030,3,0,9,19,0,2,1,1,0.68,0.6364,0.69,0.1642,55,341,401
16935,16936,4,1,12,10,0,4,1,1,0.32,0.3030,0.45,0.2836,28,139,172
8848,8849,1,1,1,12,0,1,1,2,0.26,0.2727,0.56,0.1045,10,93,103
12938,12939,3,1,6,7,0,4,1,1,0.62,0.6061,0.61,0.1045,24,484,520
12674,12675,2,1,6,7,0,0,0,1,0.52,0.5000,0.72,0.0896,18,30,44
5898,5899,3,0,9,7,0,4,1,3,0.62,0.5455,0.94,0.1045,7,172,185
11864,11865,2,1,5,13,0,1,1,2,0.62,0.5909,0.73,0.2239,33,143,187
14311,14312,3,1,8,12,0,5,1,2,0.76,0.6818,0.45,0.0896,95,276,367
13484,13485,3,1,7,1,0,6,0,2,0.62,0.5758,0.83,0.2537,10,62,69
9311,9312,1,1,1,21,0,6,0,1,0.36,0.3333,0.29,0.3582,18,109,122
479,480,1,0,1,0,0,6,0,1,0.04,0.0303,0.45,0.2537,0,13,13
6259,6260,4,0,9,9,0,5,1,3,0.62,0.5152,1.00,0.1343,3,108,108
14438,14439,3,1,8,19,0,3,1,1,0.70,0.6515,0.54,0.1940,120,523,625
2175,2176,2,0,4,12,0,2,1,2,0.34,0.3030,0.71,0.3881,6,32,38
1933,1934,2,0,3,8,0,6,0,1,0.22,0.2273,0.44,0.1343,24,42,57
5115,5116,3,0,8,1,0,6,0,1,0.66,0.6061,0.78,0.1642,17,50,68
6069,6070,3,0,9,11,0,4,1,2,0.68,0.6364,0.65,0.1343,39,120,158
13066,13067,3,1,7,15,0,2,1,2,0.90,0.7727,0.24,0.0000,71,330,406
612,613,1,0,1,18,0,5,1,1,0.24,0.2273,0.75,0.1940,2,107,112
13228,13229,3,1,7,9,0,2,1,1,0.74,0.6970,0.66,0.1343,47,284,328
55,56,1,0,1,10,0,1,1,1,0.18,0.1667,0.43,0.2537,11,33,45
16102,16103,4,1,11,16,0,4,1,1,0.42,0.4242,0.16,0.3881,18,321,334
16214,16215,4,1,11,8,0,2,1,3,0.32,0.3030,0.87,0.2537,4,207,208
14304,14305,3,1,8,5,0,5,1,1,0.64,0.5909,0.78,0.0000,1,37,38
39,40,1,0,1,16,0,0,0,3,0.34,0.3333,0.71,0.1642,9,67,75
3837,3838,2,0,6,19,0,1,1,1,0.66,0.6212,0.39,0.2836,75,348,419
16468,16469,4,1,11,22,0,5,1,1,0.44,0.4394,0.33,0.5224,16,63,81
7991,7992,4,0,12,15,0,0,0,1,0.42,0.4242,0.62,0.1940,69,227,304
11426,11427,2,1,4,7,0,4,1,3,0.46,0.4545,0.82,0.3582,3,222,224
13556,13557,3,1,7,1,0,2,1,1,0.68,0.6364,0.79,0.1642,7,10,17
10830,10831,2,1,4,9,0,0,0,2,0.36,0.3485,0.81,0.1343,102,173,286
6767,6768,4,0,10,13,0,5,1,1,0.56,0.5303,0.73,0.3582,18,114,129
9117,9118,1,1,1,19,0,5,1,2,0.20,0.2273,0.37,0.1045,6,186,191
1555,1556,1,0,3,6,0,4,1,3,0.36,0.3333,0.00,0.3284,0,12,12
7445,7446,4,0,11,20,1,5,0,1,0.32,0.3182,0.39,0.1940,12,97,106
14035,14036,3,1,8,0,0,1,1,1,0.66,0.6212,0.65,0.1045,14,33,46
6061,6062,3,0,9,3,0,4,1,1,0.62,0.5909,0.73,0.0896,3,5,8
7547,7548,4,0,11,2,0,3,1,2,0.46,0.4545,0.94,0.1045,4,6,10
12916,12917,3,1,6,9,0,3,1,1,0.66,0.6212,0.41,0.3582,29,253,276
6670,6671,4,0,10,12,1,1,0,2,0.70,0.6515,0.48,0.0896,164,201,373
16177,16178,4,1,11,19,0,0,0,1,0.48,0.4697,0.55,0.1343,69,208,275
6884,6885,4,0,10,11,0,3,1,3,0.52,0.5000,0.94,0.2537,33,116,152
11680,11681,2,1,5,21,0,0,0,1,0.56,0.5303,0.73,0.1940,55,148,211
4695,4696,3,0,7,13,0,2,1,1,0.86,0.8333,0.53,0.1045,33,139,170
2661,2662,2,0,4,19,0,1,1,1,0.66,0.6212,0.57,0.3284,62,320,385
3274,3275,2,0,5,8,0,6,0,1,0.56,0.5303,0.68,0.2836,29,97,125
16337,16338,4,1,11,11,0,0,0,1,0.38,0.3939,0.62,0.2836,92,267,357
7716,7717,4,0,11,3,0,3,1,3,0.50,0.4848,0.94,0.3582,1,2,3